<a href="https://colab.research.google.com/github/AkankshaB123/leet-code/blob/main/Churned_90d_inactivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
from datetime import date, timedelta

# Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE fact_sales (
    user_id INTEGER,
    dt DATE
)
""")

today = date.today()

# Sample Data
# User 1 → Active recently (NOT churned)
# User 2 → Last order 120 days ago (CHURNED)
# User 3 → Last order 200 days ago (CHURNED)
# User 4 → Active 10 days ago (NOT churned)

sample_data = [
    (1, today - timedelta(days=10)),
    (1, today - timedelta(days=30)),

    (2, today - timedelta(days=120)),

    (3, today - timedelta(days=200)),

    (4, today - timedelta(days=10)),
]

cursor.executemany("INSERT INTO fact_sales VALUES (?, ?)", sample_data)
conn.commit()

# Churn Query (SQLite syntax adjustment)
query = """
SELECT DISTINCT f1.user_id
FROM fact_sales f1
LEFT JOIN fact_sales f2
  ON f1.user_id = f2.user_id
  AND f2.dt >= date('now', '-90 day')
WHERE f2.user_id IS NULL;
"""

cursor.execute(query)
results = cursor.fetchall()

print("Churned Users:", results)

conn.close()

Churned Users: [(2,), (3,)]

/tmp/ipython-input-1866268292.py:35: DeprecationWarning: The default date adapter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes
  cursor.executemany("INSERT INTO fact_sales VALUES (?, ?)", sample_data)

In [ ]:
# select
# DISTINCT f1.user_id
# from fact_sales f1
# left join fact_sales f2
# on f1.user_id = f2.user_id
# where f2.dt > = CURRENT_DATE - INTERVAL '90 days' #f2: last_90d_orders, Note: f1: no date clause check orders_placed > 90d
# and f2.user_id is NULL #Note: wherever f2 is NULL, corresponding f1 placed an order much before than that

# before 90  recent
# 1            1
# 2            2
# 3
# 4